---
const title = "Welcome to ";
const links = [
  { href: "/", label: "Inicio" },
  { href: "/portfolio", label: "Portafolio" },
  { href: "/about", label: "Acerca de" },
  { href: "/contact", label: "Contacto" },
];
---
<header>
  <h1>{title}</h1>
</header>