---
const imageUrl = "/assets/images/portfolio-item-1.jpg";
const title = "Proyecto 1";
const description = "Descripción del proyecto 1.";
const tags = ["HTML", "CSS", "JavaScript"];
const link = "https://example.com/project1";
---
<article class="portfolio-item">
  <img src="https://img.icons8.com/fluency/48/null/javascript.png" alt="@title" />
  <h2>Proyecto 1</h2>
  <p>Descripción del proyecto 1.</p>
  <ul class="tags">
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
  </ul>
  <a href="https://example.com/project1" class="button">Ver proyecto</a>
</article>


